services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: jobtracker
      POSTGRES_PASSWORD: jobtrackerpass
      POSTGRES_DB: jobtracker
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
  backend:
    build: ./backend
    command: npm run dev
    ports:
      - '5000:5000'
    env_file:
      - ./backend/.env.local
    # environment:
      # DATABASE_URL: postgres://jobtracker:jobtrackerpass@db:5432/jobtracker
      # NODE_ENV: development
    depends_on:
      - db
    volumes:
      - ./backend:/app
      - /app/node_modules
volumes:
  db_data: